<div *ngIf="!isSubmitted" class="row justify-content-center g-3 mt-5">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <h5 class="card-title mb-3 text-center">Log In</h5>
          <p *ngIf="errorMessage" class="text-danger">
            {{errorMessage}}
          </p>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" placeholder="email" name="Email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" placeholder="Password" name="password" class="form-control" formControlName="password">
          </div>
          <div class="mb-3">
            <button type="login" class="btn btn-outline-success me-2">Log In</button>
            <button type="reset" class="btn btn-outline-warning me-2">Reset</button>
            <a class="mx-2" (click)="OAuth('google')"><i class="bi bi-google"></i></a>
            <a class="mx-2" (click)="OAuth('facebook')"><i class="bi bi-facebook"></i></a>
            <a class="mx-2" (click)="OAuth('github')"><i class="bi bi-github"></i></a>
          </div>
          <div>
            <a class="card-link" [routerLink]="['/register']">Don't have an account?</a>
            <br>
            <a class="card-link" [routerLink]="['/reset-password']">Forgot your password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isSubmitted" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status"></div>
</div>
