<div class="post-card">
    <div>
        <div>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{post.author.username}}</mat-card-title>
            <mat-card-subtitle>{{post.author.email}}</mat-card-subtitle>
        </div>
        <img mat-card-image *ngIf="post.imageUrl" src="{{ post.imageUrl }}" alt="Post Image">
        <div>
            <p>
                {{post.text}}
            </p>
            <div *ngFor="let comment of post.comments" class="comment-container">
                <app-comment [comment]="comment"></app-comment>
            </div>
        </div>
        <div align="end">
            <button mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
        </div>
        <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
            <div class="full-width" appearance="fill">
                <div>Make a Post</div>
                <textarea matInput autofocus formControlName="text"></textarea>
            </div>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleReplyToPost()">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
