<div class="form-group" [formGroup]="postForm">
  <div class="col-md-4">
    <label class="form-label" for="topic">Topic: </label>
    <input id="topic" class="form-control" type="text" formControlName="topic">
  </div>
  <div class="">
    <label for="comment">Create New Post: </label>
    <textarea id="content" class="form-control" rows="5" placeholder="Enter text here..." id="comment" formControlName="content"></textarea>
    <div class="d-grid d-md-flex justify-content-md-end">
      <button class="btn btn-success mt-2" type="button" (click)="onSubmit()" id="button-addon2">Create Post</button>
    </div>
  </div>
</div>

