/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --text-color: #E8E8E8;
  --bkg-color: #3E363E;
  --btn-txt-color: #E8E8E8;
  --btn-bg-color: #664E6C;
  --contrast-bg: #CFB3CD;
  --contrast-bbg: #B082AD;
  --on-hover: #49B6FF;
  --in-text-input: #664E6C;
}

body.non-dark-theme {
  --text-color: black;
  --bkg-color: #AED4E6;
  --btn-txt-color: black;
  --btn-bg-color: #E8E8E8;
  --contrast-bg: #34cb64;
  --contrast-bbg: #2E382E;
  --on-hover: #8F8F8F;
  --in-text-input: #E8E8E8;
}

body {
  background: var(--bkg-color);
}

.black-text {
  --text-color: black;
}

.alt-bg {
  background: var(--contrast-bg);
}
