<div>
  <app-post *ngIf="togglePost && isUserLoggedIn" class="" [user]="authService.getCurrentUser()!" (postEvent)="onSubmitPost($event)"></app-post>
  <button *ngIf="isUserLoggedIn && !togglePost" (click)="togglePost = !togglePost" class="btn btn-success mt-3">New Post</button>
  <button *ngIf="isUserLoggedIn && togglePost" (click)="togglePost = !togglePost" class="btn btn-danger mt-3">Cancel</button>
  <div *ngFor="let post of forumPosts" class="list-group m-3">
    <a (click)="onSelectPost(post)" class="list-group-item list-group-item-action bg" aria-current="true" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{post.game}}</h5>
        <small>{{post.date | date : "MM/dd/yy hh:mm"}}</small>
      </div>
      <p class="mb-1">{{post.author.username}}</p>
      <small class="text-wrap text-break">{{post.content | truncate : 100}}</small>
    </a>
  </div>
</div>
